VITE_API_BASE=http://localhost:3000
# Production example (without internal app port):
# VITE_API_BASE=https://35.202.253.153.nip.io
VITE_WS_URL=http://localhost:4000
# Production example:
# VITE_WS_URL=https://35.202.253.153:4000
VITE_TURNSTILE_SITE_KEY=0x4AAAAAACobtnPKcQ7ewkRH
