NODE_ENV=development
APP_VERSION=0.1.0
APP_COMMIT_SHA=
LOG_LEVEL=info
HOST=0.0.0.0
PORT=4020
HEALTHCHECK_ORIGIN=http://localhost:4020
DATABASE_URL=postgresql://megaconvert:megaconvert@localhost:5432/megaconvert
REDIS_URL=redis://localhost:6379
S3_ENDPOINT=http://localhost:9000
